@page "/"

<div class="navbar navbar-dark bg-dark justify-content-between px-2">
    <button @onclick="GoToPreviousDay" class="btn btn-dark fs-1">&lt;</button>
    <button @onclick="SetDateToToday" class="btn btn-dark">
        @DisplayDateText
    </button>
    <button @onclick="GoToNextDay" class="btn btn-dark fs-1">></button>
</div>

@if (logs.Any())
{
    var groupedLogs = logs.GroupBy(log => log.MealTypeId).ToList();

    foreach (var group in groupedLogs)
    {
        
    }
    <div class="d-flex flex-row align-items-center justify-content-center pb-3">
        <NavLink class="btn btn-primary" href="categories">+ Add Food Log</NavLink>
    </div>
}
else
{
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 50vh;">
        <h1>Food Log Empty</h1>
        <NavLink class="btn btn-primary mt-3" href="foodlog">+ Add Food Log</NavLink>
    </div>
}
