<div class="navbar navbar-dark bg-dark sticky-top">
    <div class="container-fluid justify-content-between">
        <NavLink class="navbar-brand fs-4" href="" Match="NavLinkMatch.All">
            BetterFitLogs
        </NavLink>
        <NavLink class="nav-link fs-2" href="calendar">
            <CalendarIcon/>
        </NavLink>
        <NavLink class="nav-link fs-1" href="categories">
            <span style="color: white;">+</span>
        </NavLink>
        <NavLink class="nav-link fs-2" href="settings">
            <SettingsIcon/>
        </NavLink>
    </div>
</div>
